@import '~antd/dist/antd.css';
.ant-layout {
  height: 100vh;
}
#form-passSecret > input{
  margin-bottom: 5px;

}
#form-passSecret > div:nth-child(1), #form-passSecret > div:nth-child(2), #form-passSecret > div:nth-child(3)  {
  margin-bottom: 5px;
}
.ant-cascader-picker{
  margin-bottom: 10px;
}
.wraptable-listfile{
  padding: 30px;
  background: white;
}
#padding20{
  margin-bottom: 10px;
}
.anticon-menu-fold, .anticon-menu-unfold {
  margin: auto auto auto 20px;
}
*{
  font-size: 15px;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
.btn-full-width{
  width: 100%;
  height: 110%;
}
html{
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.ant-layout-sider{
  min-width: 300px;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.topbar-menu{
  display: flex;
  background: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo{
  height: 64px;
  box-shadow: 0 1px 6px -3px;
  position: relative;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
